* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.leaflet-control-geocoder {
  position: absolute;
    top: 0px; 
    left: 40px;
    z-index: 1000;
    background-color: #fff;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px; 
}

* {
  font-family: 'Inika', serif;
}

html{
  scroll-behavior: smooth;
}