* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inika', serif;
}
.leaflet-control-geocoder { 
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  height: 40px;
  color: black;
    z-index: 1000; 
    border: none; 
    cursor: pointer;
    border-radius: 12px; 
    box-shadow: none;  
    max-height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.4);;
}
 

.leaflet-control-geocoder-form input {
  
  width: 190px;
  height: 36px;
  background: #367631; 
  color: rgb(0, 0, 0); 
  border-radius: 12px;
  padding: 8px 12px;
  font-size: 14px;
  background-color: #fff;
}

.leaflet-control-geocoder-icon { 
  height: 38px; 
  width: 40px;
  border-radius: 12px;
}

.leaflet-control-geocoder-alternatives {
  background: #cbd8ca;
  position: absolute ;
  top: 100%;
  left: 0;
  border-radius: 8px;
  overflow-y: auto;  
  max-width: 230px;
  z-index: 2000;
}

.leaflet-control-geocoder-alternatives li { 
  padding: 8px 12px;
  font-size: 14px; 
}

.cardCross{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: auto;
}
 

html{
  scroll-behavior: smooth;
}
 

/* 1. Le conteneur principal (La barre /* 1. On cible le CONTENEUR PARENT (le coin haut gauche) */
.leaflet-top.leaflet-left {
  /* Positionnement libre */
  position: absolute !important;
  top: 90px !important;   /* Distance du haut */
  left: 20px !important;   /* Distance de gauche */
   /* Espace entre le groupe de dessin et la gomme */
  
  /* Important pour le positionnement */
  z-index: 700 !important;
}

/* 2. On reset les styles des barres d'outils individuelles */
.leaflet-pm-toolbar.leaflet-control {
  /* On enlève le positionnement absolu ICI pour éviter la superposition */
  position: relative !important; 
  top: auto !important;
  left: auto !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 5px;
  
  /* Style visuel */
  background-color: #232D22;
  border-radius: 8px;
  border: 1px solid #3a4a38;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

/* 3. Styles des boutons (verticaux) */
.leaflet-pm-toolbar .button-container {
  display: block !important;
  float: none !important; 
  border-top: none !important;
}

/* 4. Apparence du bouton */
.leaflet-pm-toolbar .leaflet-buttons-control-button {
  background-color: #232D22 !important;
  border: 1px solid #3a4a38 !important;
  border-radius: 4px !important;
  width: 50px !important;
  height: 50px !important;
}

.leaflet-pm-toolbar .leaflet-buttons-control-button:hover {
  background-color: #3a4a38 !important;
}