
.signUp, .login, .forgotPSWD, .verifyPSWD, .resetPassword{
  position: relative; 
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #f5f0e8;
  border: 1px solid black;
}
.topographyBck { 
  position: absolute;
  background-image: url('@/assets/images/background.png'); 
  background-color: #f5f0e8; 
  background-repeat: repeat ;  
  inset: 0;
  opacity: 7%; 
}

