.sectionItem{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color:#F5F4ED ;
  border-radius: 13px; 
  flex: 1;
  padding: 8px; 
  background-color:#232D22; 
}

.itemValue{ 
  margin-left: 5px;
  font-family: Roboto;
  color: white;
}

 