.fertPanel{
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1;
   padding: 60px 16px 20px 16px ;
}

.nutrients{
  display: flex;
  gap: 10px;
}

.nutrientNote {
  display: flex;
  padding: 8px;
  border-radius: 10px;
  flex-direction: column;
  background-color: #FAF7F2;
  margin: 0px 10px;
  box-shadow: -2px 0px 0px 0px #1B262C,
              0px 0px 4px rgba(0, 0, 0, 0.4);
}

.nutrientNote  
 .title {
  display: flex;
  align-items: center;
  gap: 6px;
}

.title img {
  height: 12px;
  width: auto;
  border: 1px solid black;
  margin-bottom: 4px;
}

.titleText{ 
  font-family: Roboto;
  font-size: 12px;
}

.noteText{
  font-family: Roboto;
  font-size: 14px;
  line-height: 15px;
  color: #575B5D;
}