.cropItem {
  display: flex;
  align-items: center;
  padding: 0px 8px; 
  height: 100px;
  border-radius: 15px;
  z-index: 1001;
  border: 1.6px solid black;
  min-height: 100px;
}

.cropIcon {
  width: 60px;
  height: 60px;
  border-radius: 8px; 
}

.cropIcon img {
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  height: 100%;
  width: 100%; 
}

.cropMeta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 18px;
  margin-right: 18px;
  gap: 8px;
  padding-right: 5px;
  ;
}

.cropName{
  line-height: 100%;
  font-size: 14px;
}

.cropCycle{
  display: flex;
  align-items: center;
  gap: 10px;
  ;
}

.cropMonths,.cropDuration {
  display: flex;
  align-items: center;
  gap: 9px; 
}
 

.cropMonths img {
  height: 14px;
  width: auto;
  ;
}

.cropDuration img{
  height: 14px;
  width: auto;
  ;
}
 

.months, .cropDuration p{
  font-size: 11px;
  line-height: 100%;
}

.ratingLabel{
  font-size: 10px;
  color:#E8F5DF ;
  padding: 4px 3px;
  border-radius: 5px;
  line-height: 100%;
  ;
}
 
.rightContainer{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left:auto ;
}
  

.cropRating{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  ;
}
 
.ratingContainer{
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  padding: 2px 6px;
  ;
}

.ratingContainer p{
  font-family: Roboto;
  font-size: 11px;
  color: white;
}

.ratingContainer img{
  height: 12px;
  width: auto;
  ;
}

.cropRating > img{
  height: 43px;
  width: auto;
  ;
}

.arrowBtn{
  border: none;
  display: flex;
  padding: 4px;
  align-items: center;
  background-color: transparent;
  cursor: pointer;;
}

.arrowBtn img{
  height: 15px;
  width: auto;
}
 

.P .cropName,.P .cropCycle p, .P .duration{
  color:#1A3A10 ;
}
.P .ratingLabel,.P .ratingContainer{
  background-color:#3C552D ;
}
.P{
  background-color:#B7D89A ;
  border-color:#2C5A1E ;
}


.EH .cropName,.EH .cropCycle p, .EH .duration{
  color:#354A0E;
}
.EH .ratingLabel,.EH .ratingContainer{
  background-color:#5A7A1A;
}
.EH{
  background-color:#DAEAB0 ;
  border-color:#5A7A1A;
}


.H .cropName,.H .cropCycle p, .H .duration{
  color:#4A4A08 ;
}
.H .ratingLabel,.H .ratingContainer{
  background-color:#8A8A10 ;
}
.H{
  background-color:#EEEBA9 ;
  border-color:#8A8A10;
}


.G .cropName,.G .cropCycle p, .G .duration{
  color:#5A3A08;
}
.G .ratingLabel,.G .ratingContainer{
  background-color:#B07A10 ;
}
.G{
  background-color:#B07A10 ;
  border-color:#F6E185;
}

.L .cropName,.L .cropCycle p, .L .duration{
  color:#6B1A10 ;
}
.L .ratingLabel,.L .ratingContainer{
  background-color:#B83020 ;
}
.L{
  background-color:#F5BEB2 ;
  border-color:#C05A10 ;
}

 