.weatherItem{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
  height: 70px; 
  border-radius: 12px;
  padding: 4px 0px; 
  z-index: 1;
}

.weatherItem img{
  height: 25px;
  width: auto; 
}

.weatherItemLabel{
  text-align: center; 
  color: white;
}

.weatherItemValue{ 
  font-family: Roboto; 
  line-height: 100%; 
  color: white;
}

.weatherItemValue, .weatherItemLabel{
  font-size: 10px;
}