.genericInfosCard{ 
  z-index: 2000;
  display: flex;
  flex-direction: column;
  width: 390px;   
}

.cardBody{
  position: relative;
  background-color: #FFFFFF ;
  padding: 0px 30px 50px 30px ;
  display: flex;
  flex-direction: column;
  gap: 20px; 
}
   
 
.cardBck{
  position: absolute; 
  background: url(@/assets/images/cardsBck.png) ; 
  background-repeat: repeat ; 
  background-size: 50px 50px;
  inset: 0;
  opacity: 5%;  
  z-index: 0; 
}

 
