.mapButtons{
  display: flex; 
  align-items: center;
  justify-content:start;
  
}

.mapButton{   
    z-index: 1000;
    background-color: #074505;
    color: white;
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}